#Head {
  background-color: #52637B;
  color: white;
  font-family: Lora;
  text-align: center;

}

h1 {
  font-size: 2em;
  border-bottom: solid 3px white;
}

nav {
  width: 19%;
  padding: 10px;
  float: left;
}

#mainContent {
  width: 52%;
  padding: 10px;
  float: left;
  border-left: solid 5px #52637B;
  border-right: solid 5px #52637B;
}

#rightSidebar {
  width: 19%;
  padding: 10px;
  float: left;

}

#image1 {
  float: right;
}
